<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.core.FileAppender"/>

    <property resource="logback-secret.properties"/>

    <appender name="CONSOLE" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="HTTP" class="appender.HttpAppender">
        <url>https://in.logs.betterstack.com</url>
        <bearerToken>${sourceToken}</bearerToken>
    </appender>

    <root level="ALL">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="HTTP"/>
    </root>

</configuration>
